<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger - %message%newline" />
		</layout>
	</appender>-->
	<appender name="FullLogAppender" type="log4net.Appender.RollingFileAppender">
		<file value="D:\Demos\Logs\dmdp\" />
		<rollingStyle value="Date" />
		<appendToFile value="true" />
		<maximumFileSize value="500MB" />
		<datePattern value="yyyyMMdd-HH" />
		<maxSizeRollBackups value="5" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %property{requestId} %level [thread-%thread] %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="AccessLogAppender" type="log4net.Appender.RollingFileAppender">
		<file value="D:\Demos\Logs\dmdp\access.log" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd-HH" />
		<appendToFile value="true" />
		<maximumFileSize value="500MB" />
		<maxSizeRollBackups value="5" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%property{requestId} %property{forwardedFor} %property{merchantId} %date %property{currentRequestUrl} %property{timeTaken}ms %property{status} %property{contentLength} bytes %property{responseCode} %property{userAgent} %newline" />
		</layout>
	</appender>
	<appender name="ForensicLogAppender" type="log4net.Appender.RollingFileAppender">
		<file value="D:\Demos\Logs\dmdp\forensic.log" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd-HH" />
		<appendToFile value="true" />
		<maximumFileSize value="500MB" />
		<maxSizeRollBackups value="5" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%property{requestId} %date %property{merchantId} %property{method} %property{fullurl} # %property{request} # %property{response}  %newline" />
		</layout>
	</appender>
	<logger name="AccessLog" additivity="false">
		<level value="ALL" />
		<appender-ref ref="AccessLogAppender" />
	</logger>
	<logger name="ForensicLog" additivity="false">
		<level value="ALL" />
		<appender-ref ref="ForensicLogAppender" />
	</logger>
	<root>
		<level value="ALL" />
		<appender-ref ref="FullLogAppender" />
	</root>
</log4net>